# smc-script apply -v cluster_name=myclust -p ./create_fw_cluster.cnf
#
#
#                                 +-------------+
#                                 |             |
#                                 |    smc      |
#                                 |             |
#                                 |             |
#      +--+--+-+---+              +------+------+                 +------------+
#      |           |                     |                        |            |
#      |           |                     |mgtnw             +-----+192.168.102.2     |
#      | dhclt3    |                     |                  |     |  dhsvr2    |
#      |           |                     |                  |     |            |
#      +-----+-----+               192.168.100.10           |     +------------+
#            |                     +-----+----+             |
#            |              +------+----------+-----+       |lan2svr
#            |              | +--------+ +--------+ |       |
#            |              | |        | |        | |       |
#    lan1clt |              | |fwn11   | | fwn12  | |       |
#            +--------------+ +        +-+        + +-------+
#                   192.168.101.10| |        | |        | |192.168.102.10
#                           | +--------+ +--------+ |
#                           |         fwc10         |
#                           +-----------------------+

<%namespace file="common.cnf" import="*"/>
<%include file="sslvpnrwp.cnf"/>
<%include file="fw_cluster.cnf"/>
